env_FIA/*
**/__pycache__/*
.idea/*
.DS_Store
venv/*
.venv/*
data/processed/*
!data/processed
setup.py
src/teleassistance_ml_project.egg-info/
graphs/*
!graphs/
graphs/analysis/*
!graphs/analysis/
logs&metrics/*
!logs&metrics/